<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lookout :: The Legend of Pirates Online</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/lumen/bulmaswatch.min.css">
    <link rel="icon" href="https://piratesonline.co/static/img/icons/favicon.ico"/>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <style>.github-corner:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }

    @keyframes octocat-wave {
        0%, 100% {
            transform: rotate(0)
        }
        20%, 60% {
            transform: rotate(-25deg)
        }
        40%, 80% {
            transform: rotate(10deg)
        }
    }

    @media (max-width: 500px) {
        .github-corner:hover .octo-arm {
            animation: none
        }

        .github-corner .octo-arm {
            animation: octocat-wave 560ms ease-in-out
        }
    }

    .box {
        height: 100%;
    }
    </style>
</head>
<body>
<a href="https://github.com/lungyiin/ocean-lookout/" class="github-corner" aria-label="View source on Github">
    <svg width="80" height="80" viewBox="0 0 250 250"
         style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
        <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
        <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
              fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
        <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
              fill="currentColor" class="octo-body"></path>
    </svg>
</a>


<section class="section">
    <div class="container">
        <h1 class="title">
            Oceans Lookout &#128270;
        </h1>

    </div>

    <div id="app" class="container">
        <div class="control">
            <input v-model="query" class="input" placeholder="Search for an Ocean">
        </div>
        <br/>
        <transition-group
                name="staggered-fade"
                tag="ul"
                v-bind:css="false"
                v-on:before-enter="beforeEnter"
                v-on:enter="enter"
                v-on:leave="leave"
        >
            <div v-for="(group, index) in computedList"
                 v-bind:key="group"
                 v-bind:data-index="index">
                <div role="list" class="columns">
                    <div v-for="ocean in group" class="column is-3">
                        <div class="box">
                            <h2 class="title is-5">{{ocean.name}}
                                <span v-if="ocean.population < 100">
                                <span class="tag is-success">{{ocean.population}}</span>
                            </span>
                                <span v-else>
                                <span class="tag is-danger">{{ocean.population}}</span>
                            </span>
                            </h2>

                            <div v-if="ocean.fleet.type">
                                <div v-if="ocean.fleet.type = 'qar'">
                                    The Queen Anne's Revenge is Currently Sailing &#128305;
                                </div>
                                <div v-else>
                                    A Treasure Fleet is Sailing to Raven's Cove &#128176;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition-group>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
<script>
    var API = 'https://api.piratesonline.co/shards';

    function queryOceanAPI() {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open('GET', API, false);
        xmlHttp.send(null);

        return xmlHttp.responseText;

    }

    function array_chunk(input, size, preserveKeys) {
        // eslint-disable-line camelcase
        //  discuss at: http://locutus.io/php/array_chunk/
        // original by: Carlos R. L. Rodrigues (http://www.jsfromhell.com)
        // improved by: Brett Zamir (http://brett-zamir.me)
        //      note 1: Important note: Per the ECMAScript specification,
        //      note 1: objects may not always iterate in a predictable order
        //   example 1: array_chunk(['Kevin', 'van', 'Zonneveld'], 2)
        //   returns 1: [['Kevin', 'van'], ['Zonneveld']]
        //   example 2: array_chunk(['Kevin', 'van', 'Zonneveld'], 2, true)
        //   returns 2: [{0:'Kevin', 1:'van'}, {2: 'Zonneveld'}]
        //   example 3: array_chunk({1:'Kevin', 2:'van', 3:'Zonneveld'}, 2)
        //   returns 3: [['Kevin', 'van'], ['Zonneveld']]
        //   example 4: array_chunk({1:'Kevin', 2:'van', 3:'Zonneveld'}, 2, true)
        //   returns 4: [{1: 'Kevin', 2: 'van'}, {3: 'Zonneveld'}]
        var x;
        var p = '';
        var i = 0;
        var c = -1;
        var l = input.length || 0;
        var n = [];
        if (size < 1) {
            return null
        }
        if (Object.prototype.toString.call(input) === '[object Array]') {
            if (preserveKeys) {
                while (i < l) {
                    (x = i % size)
                        ? n[c][i] = input[i]
                        : n[++c] = {};
                    n[c][i] = input[i];
                    i++
                }
            } else {
                while (i < l) {
                    (x = i % size)
                        ? n[c][x] = input[i]
                        : n[++c] = [input[i]];
                    i++
                }
            }
        } else {
            if (preserveKeys) {
                for (p in input) {
                    if (input.hasOwnProperty(p)) {
                        (x = i % size)
                            ? n[c][p] = input[p]
                            : n[++c] = {};
                        n[c][p] = input[p];
                        i++
                    }
                }
            } else {
                for (p in input) {
                    if (input.hasOwnProperty(p)) {
                        (x = i % size)
                            ? n[c][x] = input[p]
                            : n[++c] = [input[p]];
                        i++
                    }
                }
            }
        }
        return n
    }

    // Notification permissions
    var hasPermisisons = false;

    function notifyMe() {
        // Let's check if the browser supports notifications
        if (!("Notification" in window)) {
            alert("This browser does not support system notifications");
        }

        // Let's check whether notification permissions have already been granted
        else if (Notification.permission === "granted") {
            hasPermisisons = true;
        }

        // Otherwise, we need to ask the user for permission
        else if (Notification.permission !== 'denied') {
            Notification.requestPermission(function (permission) {
                // If the user accepts, let's create a notification
                if (permission === "granted") {
                    hasPermisisons = true;
                }
            });
        }
    }


    var app = new Vue({
        el: '#app',
        data: {
            query: '',
            oceans_grouped: Object.values(JSON.parse(queryOceanAPI()))
        },
        computed: {
            computedList: function () {
                var vm = this;
                return array_chunk(this.oceans_grouped.filter(function (ocean) {
                    return ocean.name.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
                }), 4, true)
            }
        },
        created: function () {
            notifyMe();
            setInterval(this.fetchOceanData, 5000)
        },
        methods: {
            fetchOceanData: function () {
                var new_data = Object.values(JSON.parse(queryOceanAPI()));
                for (ocean in new_data) {
                    for (data in new_data[ocean]) {
                        if (this.oceans_grouped[ocean][data] !== new_data[ocean][data] && this.oceans_grouped[ocean]['name'] === new_data[ocean]['name']) {

                            if(new_data[ocean][data]['type'] === 'qar' && new_data[ocean][data]['type'] !== this.oceans_grouped[ocean][data]['type'] && hasPermissions) {
                                var notification = new Notification('Ocean Lookout', {body: 'The Queen Anne\'s Revenge has Sailed on ' + this.oceans_grouped[ocean]['name'], icon: 'https://piratesonline.co/static/img/PiratesWebsiteLogoSmall.png' })
                            }

                            this.oceans_grouped[ocean][data] = new_data[ocean][data];
                        }
                    }
                }
            },
            beforeEnter: function (el) {
                el.style.opacity = 0;
            },
            enter: function (el, done) {
                var delay = el.dataset.index * 150;
                setTimeout(function () {
                    Velocity(
                        el,
                        {opacity: 1},
                        {complete: done}
                    )
                }, delay)
            },
            leave: function (el, done) {
                var delay = el.dataset.index * 150;
                setTimeout(function () {
                    Velocity(
                        el,
                        {opacity: 0},
                        {complete: done}
                    )
                }, delay)
            }
        }
    })
</script>
</body>
</html>
